.button {
    margin-right: .5em;
    margin-bottom:.5em;
    padding: .75em 1.5em;
    text-align: center;
    text-decoration: none;
    color: #64DD17;
    border: 2px solid #64DD17;
    font-size: 110%;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    -webkit-transform: skewX(-45deg) translateX(0);
            transform: skewX(-45deg) translateX(0);
    transition: none;
}
.button:hover {
    cursor: pointer;
    background-color: #64DD17;
    color: #fff;
    border-bottom: 2px solid #17A100;
}
.button:hover:before {
    -webkit-transform: skewX(-45deg) translateX(16em);
            transform: skewX(-45deg) translateX(16em);
    transition: all 0.6s ease-in-out;
}
