/* size and position on large viewports */
@media (min-width:1000px){
    
    #ctrl,#console
    {
        float: left;
        width: 66vw;
        border-right: 2px solid #454;
        margin-right: 20px;
        box-sizing: border-box;
    }
    #ctrl
    {
        height: 80vh;
    }
    #console
    {
        padding-left: 16px;
        border-top: 2px solid #454;
        height: 20vh;
    }
    #speicher
    {
        width :  30vw;
        height: 100vh;
        float : right;
    }
}

#speicher > table
{
    font-size:116%;
    margin:2em auto;
}
#speicher > a
{
    min-width:12ch;
    min-height:1.2em;
    margin:0 auto 2em auto;
}
#ctrl{
    padding-left: 16px;
    padding-top : 16px;
}

/* scrollbar */
.scroll{overflow: auto;}
.scroll::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar{
    background: rgba(255,255,255,.08);
}
.scroll::-webkit-scrollbar-thumb{
    background: linear-gradient( 
        to bottom, 
        transparent 0%, 
        transparent 4%, 
        rgba(255,255,255,.6) 4%, 
        rgba(255,255,255,.6) 100% 
    );
}
.scroll::-webkit-scrollbar-thumb:hover{
    background: linear-gradient( 
        to bottom, 
        transparent 0%, 
        transparent 4%, 
        rgba(255,255,255,.8) 4%, 
        rgba(255,255,255,.8) 100% 
    );
}


.cell 
{
    margin: 5px 0 5px 0;
    padding  : 1px 6px;
    min-width:  6ch;
    max-width: 12ch;
    height   :  2em;
}
#cnt
{
        width:  4ch;
    min-width:  4ch;
}

input:not([type='checkbox'])
{
    background: #555;
    color: beige;
    border-radius: 0.3em;
    font-size: 105%;
    
    outline: none;
    border : 1.4px solid transparent;
    transition: border 312ms;
}
input:not([type='checkbox']):focus
{
    border-color: #64DD17;
}
input[type='checkbox']
{
    margin-right: 3ch;
    padding : 5px;
    width   : 1.6em;
    height  : 1.6em;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    display: inline-block;
}

label
{
    font-size: 120%;
    padding: 5px 0;
}
label.title
{
    font-weight: bolder;
    padding-left: 0;
    width: 16ch;
    color: beige;
/*    color: #000;*/
}
label.subtitle
{
    color: #aba;
/*    color: #555;*/
}

#befehle
{
    margin-bottom : 0px
}
#befehle .subtitle
{
    width: 14ch;
}


.button
{
    width: 2.4em;
    height:1.2em;
    font-size: 106%;
}

body,html
{
    margin:0;
    font-family: monospace;
    background-color: #000;/*
    background-color: #fff;*/
            color: #0a3;
     border-color: #0a3;
    outline-color: #fff;
}